<div id='profile-img'>
	{{#if user.image}}
		<img src='' alt='{{user.name}}' />
	{{else}}
		<img src='/img/logo.png' alt='Profile Image' />
	{{/if}}
</div>
<div id='profile-name'>
	<p><span>Name:</span>{{user.name}}</p>
</div>
<div id='profile-email'>
	<p><span>E-mail:</span>{{user.email}}</p>
</div>
<div id='profile-bio'>
	{{#if user.bio}}
		<p>{{user.bio}}</p>
	{{else}}
		<p id='no-bio'>You don't have a bio yet...</p>
	{{/if}}
</div>
<a href='/user/edit-profile' class='btn'>Edit your profile now</a>